/*
COULEUR
Noir/gris :#323746
Blanc neige : #fcfcf7
Vert :#6dae97
combo 2
blanc #fffeff
noir #1f2e32
bleu #066476
*/
*{
    margin: 0;
    padding: 0;
}
html {
    background-color: #fffeff;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.navbar {
    background-color: #1f2e32;
    padding: 15px;
    text-align: left;
}



.open-btn {
    color: #fffeff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-left: 15px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1f2e32;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    text-transform: uppercase;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.fa-solid.fa-briefcase{
    margin-right: 15px;
}

.fa-solid.fa-shop{
    margin-right: 15px;
}

.fa-solid.fa-file-contract{
    margin-right: 15px;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}